<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <form action="/new" method="post">
      <label for="name">Enter Name : </label>
      <input type="text" name="user" id="Username" />
      <label for="text">Enter Text : </label>
      <input type="text" name="text" id="UserText" />
      <button type="submit">Submit</button>
    </form>
    <%-include('./partials/error')%>
  </body>
</html>
